section.social
  h2.social__title Давайте дружить!
  ul.social__list
    li.social__item
      a(href='#').btn.btn--vk
        span.icon-text Вконтакте
    li.social__item
      a(href='#').btn.btn--fb
        span.icon-text Фейсбук
    li.social__item
      a(href='#').btn.btn--insta
        span.icon-text Инстарграмм
