section.news
  h2 Новости
  ul.news__list
      li.news__item
        p.news__text Нам наконец завезли Ягермайстер! Теперь вы можете пропустить стаканчик во время стрижки
        time(datetime='2016-01-11').news__date 11 января
      li.news__item
        p.news__text В нашей команде пополнение, Борис «Бритва» Стригунец, обладатель множества титулов и наград пополнил наши стройные ряды
        time(datetime='2016-01-18').news__date 18 января
  div.news__controls
    a(href='news.html', target='_blank').btn.btn--news Все новости
