.news {
  @extend %index-column;
  &__list {
    list-style: none;
  }
  &__item {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
  &__date {
    line-height: 24px;
    text-transform: none;
  }
  &__controls {
    margin-top: 30px;
  }
}
