section.footer-contacts
  h2.footer-contacts__title Наши контакты
  p.footer-contacts__text Барбершоп «Бородинский»
  p.footer-contacts__text Адрес: г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
  a(href='map.html', target='_blank').footer-contacts__link#show-map Как нас найти?
  p.footer-contacts__text Телефон: +7 (495) 666-02-66
