section.gallery
  div.gallery__container
    h2 Фотогалерея
    figure.gallery__content
      a(href='#').gallery__link
        img(src='img/gallery/img/gallery.jpg', alt='Gallery image', width='286', height='164').gallery__image
    div.gallery__controls
      button(type='button').btn.btn--prev Назад
      button(type='button').btn.btn--next Вперед
