.icon--close {
  display: inline-block;
  vertical-align: top;
  width: 22px;
  height: 22px;
  background: url(../icon/sprite.png) no-repeat -318px 0px;
}
.icon--password {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 17px;
  background: url(../icon/sprite.png) no-repeat -163px 0px;
}
.icon--user {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  background: url(../icon/sprite.png) no-repeat -128px 0px;
}
.icon--facebook-active {
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 22px;
  background: url(../icon/sprite.png) no-repeat -32px 0px;
}
.icon--facebook {
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 22px;
  background: url(../icon/sprite.png) no-repeat -64px 0px;
}
.icon--instagram-active {
  display: inline-block;
  vertical-align: top;
  width: 21px;
  height: 21px;
  background: url(../icon/sprite.png) no-repeat -236px 0px;
}
.icon--instagram {
  display: inline-block;
  vertical-align: top;
  width: 21px;
  height: 21px;
  background: url(../icon/sprite.png) no-repeat -277px 0px;
}
.icon--vkontakte-active {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 16px;
  background: url(../icon/sprite.png) no-repeat -405px 0px;
}
.icon--vkontakte {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 16px;
  background: url(../icon/sprite.png) no-repeat -360px 0px;
}
.icon--login {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 16px;
  background: url(../icon/sprite.png) no-repeat -198px 0px;
}
.icon--check-disabled {
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 12px;
  background: url(../icon/sprite.png) no-repeat -96px 0px;
}
.icon--check {
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 12px;
  background: url(../icon/sprite.png) no-repeat 0px 0px;
}
