.index-block {
  @extend %clearfix;

  margin-bottom: 35px;
  padding: 43px $row-padding-horizontal 50px;

  background: #f7f4f1 url('img/bg-white-pattern.jpg') repeat top left;
  &:last-of-type {
    margin-bottom: 65px;
  }
}
