// Common
$page-header-height:             72px;
$page-footer-height:             190px;
$container-width:                940px;

$padding-base:                   20px;
$font-size-base:                 14px;

$btn-height:                     43px;
$input-padding:                  10px;

$breadcrumbs-rhombus-size:       8px;
$breadcrumbs-padding-horizontal: 15px;

$col-half-container-width:       286px;
$row-padding-horizontal:         80px;

// Index
$features-margin:                40px;
$features-rhombus-size:          20px;

// Catalog
$filters-width:                  168px;
$product-card-padding:           16px;

// Product
$product-gallery-width:          460px;
