section.contacts
  h2 Контактная информация
  p.contacts__text Барбершоп «Бородинский»
  p.contacts__text Адрес: г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
  p.contacts__text Телефон: +7 (495) 666-02-66
  include ../work-time/work-time
  div.contacts__controls
    a(href='map.html', target='_blank').btn.btn--route#contacts-show-map Как проехать
    a(href='contacts.html', target='_blank').btn.btn--feedback Обратная связь
