div.modal#map
  div.modal__dialog
    div.modal__header
      button(type='button').btn.btn--close
        span.icon-text Закрыть
    div.modal__body
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.5991043705205!2d30.320889251477517!3d59.93879418178729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca5ba729%3A0xea9c53d4493c879f!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0KDQvtGB0YHQuNGPLCAxOTExODY!5e0!3m2!1sru!2sua!4v1472020552774' width='766' height='560' style='border:0')
