mixin feature(title, text)
  div.features__item
    p.features__item-title= title
    p.features__item-text= text

section.features
  h2.features__title Наши преимущества
  +feature('Быстро', 'Мы делаем свою работу быстро! Два часа пролетят незаметно и вы — счастливый обладатель стильной стрижки-минутки!')
  +feature('Круто', 'Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино! Во всяком случае внешне.')
  +feature('Дорого', 'Наши мастера — профессионалы своего дела и не могут стоить дешево. К тому же, разве цена не дает определенный статус?')
